.list-main {
    max-width: 720px;
    margin: auto;
}

@media (max-width: 600px) {
    .wc-txt {
        font-size: 30px;
    }
    .list-main {
        padding-right: 30px;
        padding-left: 30px;
        margin: auto;
    }
    .list {
        width: 100%;
    }
    
    .list-1 {
        display: block;
    }
    .list-2 {
        display: block;
    }
}

@media (max-width: 800px) {
    .about-con {
        text-align: justify;
    }
}
